{% extends "layout.html" %}
{% block contenedor %}
{% load static %}
<main class="container_grid">
  <section class="hero_grid">
    <div class="hero__texts">
      <h1 class="hero__title">Dra Melisa Gutierrez</h1>
      <p class="hero__description">Dermatóloga especialista en alopecía y dermatología clínica</p>
    </div>
    <figure class="hero__figure">

      <img src="{% static 'img/portada.png' %}" alt="portada" class="hero__img">
    </figure>
  </section>
  {% include "components/aside.html" %}
  <article class="article_grid">
    <img src="{% static 'img/fresenius.png' %}" alt="" class="article__img article__img--fresenius">
    <img src="{% static 'img/atsa.png' %}" alt="" class="article__img article__img--atsa">
    <img src="{% static 'img/hair.png' %}" alt="" class="article__img">
  </article>
  
</main>

{% endblock %}