{% extends "layout.html" %}
{% load static %}
{% block contenedor %}
<h1>Login</h1>
<div class="container d-flex justify-content-center ">
    <form class=" m-5 p-5 form-group d-flex justify-content-center" method="POST">
        {% csrf_token %}
        <div class="">
            {{form.as_p}}
            <button id="btn-form" class="btn" style="background-color: #F3268C; color: white;">Iniciar sesión</button>
            
        </div>
    </form>
</div>

{% endblock %}
{% block script %}
<script src="{% static 'assets/js/formLogin.js' %}"></script>
{% endblock %}
