{% extends "layout.html" %}
{% load static %}
{% block contenedor %}
<div class="container vh-100 mt-5 p-4">
    <div class="content-container max-height-1500">
        <div class="d-flex justify-content-end my-4">
            <form method="GET" action="{% url 'filtrar_fecha' %}" class="d-flex">
                <select class="form-select col-2" name="fecha_busqueda">
                    {% for fecha in fechas %}
                    <option value="{{ fecha }}">{{ fecha }}</option>
                    {% endfor %}
                </select>
                <input class="btn btn-secondary ms-2" type="submit" value="Filtrar">
            </form>
        </div>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">DNI</th>
                        <th scope="col">Teléfono</th>
                        <th scope="col">Obra Social</th>
                        <th scope="col">Observaciones</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Hora</th>
                    </tr>
                </thead>
                <tbody>
                    {% for paciente in pacientes %}

                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ paciente.nombre }}</td>
                        <td>{{ paciente.apellido }}</td>
                        <td>{{ paciente.dni }}</td>
                        <td>{{ paciente.celular }}</td>
                        <td class="text-center">{{ paciente.obra_social }}</td>
                        <td ><a href="#" id="{{paciente.id_turno}}_turno" onclick="alert(id)">Ver diagnostico</a></td>
                        <td>{{ paciente.fecha }}</td>
                        <td>{{ paciente.hora }}</td>
                    </tr>
                    <div class="modal" id="modalPaciente{{ paciente.id }}" tabindex="-1" role="dialog">
                        <h1>hola</h1>
                    </div>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}


{% block script %}
<script src="{% static 'assets/js/modalTurnos.js' %}"></script>
{% endblock %}