{% extends "layout.html" %}
{% load static %}
{% block contenedor %}
<div class="container vh-100 mt-5 p-4">
    <div class="content-container max-height-1500">
        
        <div class="d-flex justify-content-center my-4">
            <form method="GET" action="{% url 'filtrar_fecha' %}" class="d-flex">
                
                <select class="form-select col-2" name="fecha_busqueda">
                    {% for fecha in fechas %}
                    <option value="{{ fecha }}">{{ fecha }}</option>
                    {% endfor %}
                </select>
                <input class="btn ms-2" style="background-color: #F3268C; color: white;" type="submit" value="Filtrar">
            </form>
        </div>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="d-none d-lg-table-cell text-center" scope="col">#</th>
                        <th class=" text-center" scope="col">Nombre</th>
                        <th class=" text-center" scope="col">Apellido</th>
                        <th class="d-none d-md-table-cell text-center" scope="col">DNI</th>
                        <th class="d-none d-md-table-cell text-center" scope="col">Teléfono</th>
                        <th class="d-none d-md-table-cell text-center" scope="col">Obra Social</th>
                        <th class="text-center" scope="col">Ficha</th>
                        <th class=" text-center" scope="col">Fecha</th>
                        <th class=" text-center" scope="col">Hora</th>
                    </tr>
                </thead>
                <tbody id="body_table">
                    {% for paciente in pacientes %}

                    <tr id="{{paciente.id_turno}}" >
                        <th scope="row" class="d-none d-lg-table-cell text-center">{{ forloop.counter }}</th>
                        <td class=" text-center">{{ paciente.nombre }}</td>
                        <td class=" text-center">{{ paciente.apellido }}</td>
                        <td class="d-none d-md-table-cell text-center">{{ paciente.dni }}</td>
                        <td class="d-none d-md-table-cell text-center">{{ paciente.celular }}</td>
                        <td class="text-center d-none d-md-table-cell text-center">{{ paciente.obra_social }}</td>
                        <td class=" text-center"><a href="#" id="{{paciente.id_turno}}" data-toggle="modal" data-target="#myModal" >Ver</a></td>
                        <td class=" text-center">{{ paciente.fecha }}</td>
                        <td class=" text-center">{{ paciente.hora }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

{% include "components/modal_pacientes.html" %}


{% endblock %}


{% block script %}
<script src="{% static 'assets/js/modalTurnos.js' %}"></script>
{% endblock %}