{% extends "layout.html" %}
{% load static %}
{% block contenedor %}


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="GET" action="{% url 'paciente' %}">
                <div class="form-group">
                    <label for="dni_select">Seleccionar:</label>
                    <select class="form-select" id="dni_select" name="dni_select">
                        {% for dni in dnis %}
                        <option value="{{ dni }}">{{ dni }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="dni_input">Introducir:</label>
                    <input type="text" class="form-control" id="dni_input" name="dni_input"
                        placeholder="Introduzca un nuevo DNI">
                </div>
                <button type="submit" class="btn btn-secondary my-4">Filtrar</button>
            </form>
        </div>
    </div>
    {% if paciente == None %}
    <h2>Paciente no encontrado, intente de nuevo</h2>
    {% else %}
    <h2>{{paciente}}</h2>
    {% endif %}
    <h3 class="mt-4">Turnos</h3>
    <table class="table table-striped">
        <thead>
            <tr class="bg-info text-white">
                <th class="text-center">Fecha</th>
                <th class="text-center">Hora</th>
            </tr>
        </thead>
        <tbody>

            {% for turno in turnos %}
            <tr>
                <td class="text-center">{{ turno.fecha }}</td>
                <td class="text-center">{{ turno.hora }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>



{% endblock %}