.btns{
  border: none;
  padding: 6px 10px;
  transition: background-color ease-in-out .1s;
}

.btn-pink{
  background-color: var(--color-primary);
  color: white;
}
.btn-info{
  background-color: var(--color-secondary-dark);
  color: white;
}

.btn-info:hover{
  background-color: var(--color-secondary-light);
}
.btn-pink:hover{
  background-color: var(--color-links-hover);
}

.btn-back{
  background-color: rgb(104, 75, 100);
  color: white;
}
.btn-back:hover{
  /* color: aqua; */
  color: white;
  background-color: rgb(136, 118, 134);
}

.subtitle{
  font-family: var(--font-secondary);
  color: var(--color-secondary);
}