{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>

        <!-- Favicons -->
        <link href="{% static 'assets/img/favicon.png' %} " rel="icon">
        <link href="{% static 'assets/img/apple-touch-icon.png' %} " rel="apple-touch-icon">
        
        <!-- Vendor CSS Files -->
        <link href="{% static 'css/estilos.css' %} " rel="stylesheet">
        <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %} " rel="stylesheet">
        <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %} " rel="stylesheet">
        <link href="{% static 'assets/vendor/aos/aos.css' %} " rel="stylesheet">
        <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %} " rel="stylesheet">
        <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %} " rel="stylesheet">

        <!-- Variables CSS Files. Uncomment your preferred color scheme -->
        <link href="{% static 'assets/css/variables.css' %}" rel="stylesheet">
        <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">
        <!-- <link href="assets/css/variables-blue.css" rel="stylesheet"> -->
        <!-- <link href="assets/css/variables-green.css" rel="stylesheet"> -->
        <!-- <link href="assets/css/variables-orange.css" rel="stylesheet"> -->
        <!-- <link href="assets/css/variables-purple.css" rel="stylesheet"> -->
        <!-- <link href="assets/css/variables-red.css" rel="stylesheet"> -->
        <!-- <link href="assets/css/variables-pink.css" rel="stylesheet"> -->
        <link href="{% static 'assets/css/variables-pink.css' %}" rel="stylesheet">
        <!-- <link href="{% static 'assets/css/variables-pink.css' %}" rel="stylesheet"> -->

        <!-- Template Main CSS File -->

        <!-- =======================================================
    * Template Name: HeroBiz
    * Updated: May 30 2023 with Bootstrap v5.3.0
    * Template URL: https://bootstrapmade.com/herobiz-bootstrap-business-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
    </head>

    <body class="">
        {% block content %}

        {% endblock %}
        <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
                class="bi bi-arrow-up-short"></i></a>

        <div id="preloader"></div>
        <!-- Vendor JS Files -->
        <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %} "></script>
        <script src="{% static 'assets/vendor/aos/aos.js' %} "></script>
        <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %} "></script>
        <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %} "></script>
        <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %} "></script>

        <!-- Template Main JS File -->
        <script src="{% static 'assets/js/herobiz.js' %} "></script>
        {% block script %}

        {% endblock %}
    </body>

</html>