{% load static %}
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>Acerca de</h2>
        <p>Médica especialista en dermatología, con pasión por la tricología, rama de la dermatología que estudia y trata las patologías del pelo.</p>
      </div>

      <div class="row g-4 g-lg-5" data-aos="fade-up" data-aos-delay="200">

        <div class="col-lg-5">
          <div class="about-img">
            <img src="{% static 'img/about.jpg' %}" class="img-fluid" alt="">
          </div>
        </div>

        <div class="col-lg-7">
          <h3 class="pt-0 pt-lg-5">La naturaleza te da la cara que tenés a los veinte, a los cincuenta ya depende de vos.</h3>

          <!-- Tabs -->
          <ul class="nav nav-pills mb-3">
            <li><a class="nav-link active" data-bs-toggle="pill" href="#tab1">Formación académica</a></li>
            <li><a class="nav-link" data-bs-toggle="pill" href="#tab2">Actualidad</a></li>
            <li><a class="nav-link" data-bs-toggle="pill" href="#tab3">Membresías</a></li>
          </ul><!-- End Tabs -->

          <!-- Tab Content -->
          <div class="tab-content">

            <div class="tab-pane fade show active" id="tab1">

              <p class="fst-italic">Médica egresada de la Facultad de Ciencias de la Salud, Fundación H.A. Barceló de la Ciudad de La Rioja, Argentina.</p>

              <div class="d-flex align-items-center mt-4">
                <i class="bi bi-check2"></i>
                <h4>Formación en medicina interna.</h4>
              </div>
              <p>Especilización en clínica médica en el Sanatorio Lavalle de la Ciudad de San Salvador de Jujuy</p>

              <div class="d-flex align-items-center mt-4">
                <i class="bi bi-check2"></i>
                <h4>Formación en dermatología.</h4>
              </div>
              <p>Especilización en dermatología en el Hospital San Bernardo de la Ciudad de Salta</p>

              <div class="d-flex align-items-center mt-4">
                <i class="bi bi-check2"></i>
                <h4>Médica del staff de Hair Recovery (Médicina y estética capilar)</h4>
              </div>
              <p>Valoración de pacientes con patologías capilares para tratamientos quirurgicos y estéticos</p>

            </div><!-- End Tab 1 Content -->

            <div class="tab-pane fade show" id="tab2">

              <p class="fst-italic">Consultorio privado y Médica del equipo de Fresenius Medical Care, Salta.</p>

              <div class="d-flex align-items-center mt-4">
                <i class="bi bi-check2"></i>
                <h4>Consultorio privado.</h4>
              </div>
              <p>Consultas, prácticas quirurgicas y estética, en el centro médico Virgen de Urkupiña.</p>

              <div class="d-flex align-items-center mt-4">
                <i class="bi bi-check2"></i>
                <h4>Atención médica de pacientes en diálisis</h4>
              </div>
              <p>Médica de planta de Fresenius Medical Care, centro de diálisis de baja complejidad.</p>

              <div class="d-flex align-items-center mt-4">
                <i class="bi bi-check2"></i>
                <h4>Hair Recovery</h4>
              </div>
              <p>Valoración pre-quirurgica de pacientes para recuperación capilar mediante implantes.</p>

            </div><!-- End Tab 2 Content -->

            <div class="tab-pane fade show active" id="tab3">

              <p class="fst-italic">Médica egresada de la Facultad de Ciencias de la Salud, Fundación H.A. Barceló de la Ciudad de La Rioja, Argentina.</p>

              <div class="d-flex align-items-center mt-4">
                <i class="bi bi-check2"></i>
                <h4>Miembro adjunto de la Sociedad Argentina de Dermatología.</h4>
              </div>
              <p>Especilización en clínica médica en el Sanatorio Lavalle de la Ciudad de San Salvador de Jujuy</p>

              <div class="d-flex align-items-center mt-4">
                <i class="bi bi-check2"></i>
                <h4>Egresada y miembro actual del Colegio Ibero-Latinoamericano de Dermatología</h4>
              </div>
              <p>Especilización en dermatología en el Hospital San Bernardo de la Ciudad de Salta</p>

              <div class="d-flex align-items-center mt-4">
                <i class="bi bi-check2"></i>
                <h4>Socia del Colegio Médico de Salta</h4>
              </div>
              <p>Valoración de pacientes con patologías capilares para tratamientos quirurgicos y estéticos</p>
              
              <div class="d-flex align-items-center mt-4">
                <i class="bi bi-check2"></i>
                <h4>Miembro de la Sociedad Salteña de Dermatología</h4>
              </div>
              <p>Valoración de pacientes con patologías capilares para tratamientos quirurgicos y estéticos</p>

            </div><!-- End Tab 3 Content -->



          </div>

        </div>

      </div>

    </div>
    
  </section>