{% load static %}
<aside class="aside__right_grid">
    <div class="solicitar-turno">
      <a href="https://wa.me/3876294668" class="boton__whatsapp" target="_blank">Solicitar turno <img
          src="{% static 'img/whatsapp.svg' %}" alt="" class="boton__img"></a>
    </div>
    <div class="aside__box aside__box--lista">
      <ul class="aside__list">
        <a class="aside__item" href="{% url 'obra_social' %}">Obras sociales</a>
        <a class="aside__item" href="#">Tratamientos</a>
        <a class="aside__item" href="#">Consultas particulares</a>
        <a class="aside__item" href="#">Productos</a>
      </ul>
    </div>
    <div class="aside__box aside__box--social">
      <a href="" class="aside__social">
        <img src="{% static 'img/face.svg' %}" alt="" class="social__icon">
      </a>
      <a href="" class="aside__social">
        <img src="{% static 'img/tw.svg' %}" alt="" class="social__icon">
      </a>
      <a href="" class="aside__social">
        <img src="{% static 'img/isnta.svg' %}" alt="" class="social__icon">
      </a>

    </div>
  </aside>