{% load static %}
<header id="header" class="header fixed-top" data-scrollto-offset="0">
  <div class="container-fluid d-flex align-items-center justify-content-between">
    <a href="{% if request.path == 'index.html' %}#{% else %}{% url 'home' %}{% endif %}"
      class="logo d-flex align-items-center scrollto me-auto me-lg-0">
      <img src="{% static 'img/logo.png' %}" alt="logo" class="ms-5">
    </a>

    <nav id="navbar" class="navbar">
      <ul>


        <li><a class="nav-link scrollto"
            href="{% if request.path != 'index.html' %}{% url 'home' %}{% else %}#{% endif %}">Home</a>
        </li>
        <li>
          <a class="nav-link scrollto" href="{% if request.path != 'index.html' %}
                                                {% url 'home' %}#about
                                               {% else %}
                                               index.html#about
                                               {% endif %}">
            Acerca de
          </a>
        </li>
        <li><a class="nav-link scrollto" href="index.html#services">Servicios</a></li>
        <li><a class="nav-link scrollto" href="index.html#portfolio">Portfolio</a></li>

        <li><a class="nav-link scrollto" href="index.html#contact">Contacto</a></li>

        {% if user.is_authenticated %}
        <li class="dropdown"><a href="#"><span>Pacientes</span> <i
              class="bi bi-chevron-down dropdown-indicator"></i></a>
          <ul>
            <li><a href="{% url 'paciente' %}">Ver pacientes</a></li>
            <li><a href="{% url 'mostrar_turnos' %}">Ver turnos</a></li>
            <li><a href="#">Drop Down 3</a></li>
            <li><a href="#">Drop Down 4</a></li>
          </ul>
        </li>
        <li>
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
        <li>
          <a class="nav-link" href="{% url 'turnos' %}">Dar turno</a>
        </li>
        {% else %}
        <li>
          <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
        {% endif %}
      </ul>
      <i class="bi bi-list mobile-nav-toggle d-none"></i>
    </nav><!-- .navbar -->

  </div>
</header><!-- End Header -->