{% load static %}
<header id="header" class="header fixed-top" data-scrollto-offset="0">
  <div class="container-fluid d-flex align-items-center justify-content-between">
    <a {% if request.path != '/' %}href="{% url 'home' %}"{% else %}href="#"{% endif %}
      class="logo d-flex align-items-center scrollto me-auto me-lg-0">
      <img src="{% static 'img/logo.png' %}" alt="logo" class="ms-5">
    </a>

    <nav id="navbar" class="navbar">
      <ul>


        <li><a class="nav-link scrollto"
          {% if request.path != '/' %}href="{% url 'home' %}"{% else %}href="#"{% endif %}>Home</a>

        </li>
        <li>
          <a class="nav-link scrollto" href="{% if request.path != 'index.html' %}
                                                {% url 'home' %}#about
                                               {% else %}
                                               index.html#about
                                               {% endif %}">
            Acerca de
          </a>
        </li>
        <li><a class="nav-link scrollto" href="{% if request.path != 'index.html' %}
                                                {% url 'home' %}#portfolio
                                              {% else %}
                                              index.html#portfolio
                                              {% endif %}">Laboratorios</a></li>

        <li><a class="nav-link scrollto" href="{% if request.path != 'index.html' %}
          {% url 'home' %}#contact
        {% else %}
        index.html#contact
        {% endif %}">Contacto</a></li>
        <li><a class="nav-link" href="{% url 'obra_social' %}">Obras sociales</a></li>

        {% if user.is_authenticated %}
        <li class="dropdown"><a href="#"><span>Pacientes</span> <i
              class="bi bi-chevron-down dropdown-indicator"></i></a>
          <ul>
            <li><a href="{% url 'pacientes' %}">Ver todos</a></li>
            <li><a href="{% url 'mostrar_turnos' %}">Ver turnos</a></li>
            <li><a href="{% url 'buscar_paciente' %}">Buscar paciente</a></li>
            <li><a href="#">Agregar Paciente</a></li>
            <li><a href="#">Agregar Turno</a></li>
          </ul>
        </li>
        <li>
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
        
        {% else %}
        <li>
          <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
        {% endif %}
      </ul>
      <i class="bi bi-list mobile-nav-toggle d-none"></i>
    </nav><!-- .navbar -->

  </div>
</header><!-- End Header -->